#home {
  .app__wrapper {
    padding: 0;
    .copyright { display: none; }
  }
}

.app__header {
  flex: 2;
  width: 100%;
  flex-direction: column;
  padding: 6vw 2vw 1vw;
}

.app__header-info {
  display: flex;
  flex-direction: row;
  width: 23vw;
  margin: auto 0 0 auto;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.app__header-badge {
  width: 100%;

  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  
  background: black;
  
  @media (min-aspect-ratio: 1/1) {
    padding: 2.4vh 2vw; 
    border-radius: 1.7vw;
  }
  
  @media (max-aspect-ratio: 1/1) {
    padding: 3.4vw 3vh;
    border-radius: 1.7vh;
  }
}

.name-text {
  font-weight: 800;
  text-align: left;
  color: var(--black-color);
  text-transform: capitalize;
  
  span { color: var(--secondary-color); }
  
  @media (min-aspect-ratio: 1/1) {
    font-size: 2.27vw;
  }
  
  @media (max-aspect-ratio: 1/1) {
    font-size: 4.9vh;
  }
}

.profession-text {
  color: var(--lightGray-color);
  
  @media (min-aspect-ratio: 1/1) {
    font-size: 0.9vw;
  }
  
  @media (max-aspect-ratio: 1/1) {
    font-size: 1.7vh;
  }
}

.app__header-circles {
  flex: 0.15;
  display: flex;
  flex-direction: row;
  justify-content: center;

  
  
  div {
    border-radius: 50%;
    background: #00000C;

    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.15);
    }
    
    img {
      width: 60%;
      height: 60%;
    }
  }
  
  @media (min-aspect-ratio: 1/1) {
    margin: 1vw auto 2vw;
    margin-right: 0.1vw;
    
    div {
      width: 3.7vw;
      height: 3.7vw;
      margin-left: 0.9vw;
    }
  }
  
  @media (max-aspect-ratio: 1/1) {
    margin: 1vh auto 2vh;
    margin-right: 0.1vh;
    
    div {
      width: 5.7vh;
      height: 5.7vh;
      margin-left: 0.9vh;
    }
  }
  
  @media screen and (max-width: 800px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    
    div { margin: 1rem; }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  
  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }
}