#home {
  position: relative;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 2;
  width: 100%;
 
  flex-direction: column;
  padding: 6rem 2rem 0rem 5rem;

  @media screen and (max-width: 1200px) {
     flex-direction: column;
     padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  display: flex;
  flex-direction: row;
  width: 450px;
  margin-left: auto;
  margin-top: auto;

  @media screen and (max-width: 800px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  padding: 1rem 2rem;
  
  background: black;

  border-radius: 9px;
  
  span {
    font-size: 2.5rem;
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}


.name-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: left;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }


  @media screen and (max-width: 1200px) {
    font-size: 2rem;
  }
}

.profession-text {
  color: var(--lightGray-color);
}

.app__header-circles {
  flex: 0.15;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin: 2rem auto; 
  margin-bottom: 2rem;
  margin-right: 10px;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    
    background: #00000C;
    
    img {
      width: 60%;
      height: 60%;
    }
  }

  div {
    width: 70px;
    height: 70px;
  }


  @media screen and (max-width: 800px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}


.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}