.app__testimonial {
  flex: 1;
  width: 100%;
  flex-direction: column;
}


.person-name-text {
  font-size: 1vw;
}

.app__testimonial-item {
    margin-right: 2vw;
    min-height: 17vw;

    background-color: black;
    box-shadow: 0 0 0.5vw var(--primary-color);
  
    display: flex;
    flex-direction: row;
    padding: 1vw;
    border-radius: 1.7vw;

  
    transition: all 0.3s ease-in-out;
  
    img {
      width: 5.7vw;
      height: 5.7vw;
      border-radius: 50%;
      object-fit: cover;
    }
  
    
  
    @media screen and (max-width: 850px) {
      width: 100%;
    }
  
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  
  .app__testimonial-content {
    flex: 1;
    height: 100%;
    padding: 0 2vw;
    text-align: left;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  
    p {
      font-size: 1vw;
      line-height: 1.7vw;
      color: var(--gray-color);
      font-family: var(--font-base);
  
      
    }
  
    h4 {
      font-weight: 600;
      color: var(--lightGray-color);
      margin-top: 2vw;
    }
  
    h5 {
      font-weight: 400;
      color: var(--black-color);
      margin-top: 1vw;
    }
  
   
  }
  
  .app__testimonial-btns {
    flex-direction: row;
    margin-right: 5%;
  
    div {
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      background-color: black;
      box-shadow: 0 0 0.7vw var(--primary-color);
      cursor: pointer;
      margin: 0.7vw;

      transition: all 0.3s ease-in-out;
  
      svg {
        width: 1vw;
        height: 1vw;
        color: var(--secondary-color);
      }
  
      &:hover {
        background-color: var(--secondary-color);
  
        svg {
          color: var(--gray-color);
        }
      }
  
     
    }
  }
  
  .app__testimonial-brands {

    background-color: var(--gray-color);
    box-shadow: 0 0 0.7vw var(--gray-color);
    border-radius: 1vw;
    
    display: flex;
    flex-wrap: wrap; 

    div {
        width: 7vw;
        margin: 1.5vw;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: grayscale(0);
        }

        &:hover {
            img {
                filter: grayscale(1);
            }
        }

    }

}

.app__testimonial-container {
  margin-left: 11vw;
  margin-right: 11vw;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;

  @media screen and (max-width: 1100px)  {
    margin-left: 0;
    margin-right: 0;
  }
}

.app__testimonial-wrapper {
  width: 65%;

  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

.app__testimonial-brands-wrapper {
  width: 35%;

  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

.app__skills-exp-separator {
  min-height: 44.7vh;
}