.app__testimonial {
  flex: 1;
  width: 100%;
  flex-direction: column;
}


.person-name-text {
  @media (min-aspect-ratio: 1/1) {
    font-size: 1vw;
  }
  @media (max-aspect-ratio: 1/1) {
    font-size: 1vh;
  }
}

.app__testimonial-item {  
  @media (min-aspect-ratio: 1/1) {
    margin-right: 2vw;
    min-height: 17vw;
  }
  @media (max-aspect-ratio: 1/1) {
    margin-right: 2vh;
    min-height: 17vh;
  }

    background-color: black;
    @media (min-aspect-ratio: 1/1) {
      box-shadow: 0 0 0.5vw var(--primary-color);
    }
    @media (max-aspect-ratio: 1/1) {
      box-shadow: 0 0 0.5vh var(--primary-color);
    }
  
    display: flex;
    flex-direction: row;
    @media (min-aspect-ratio: 1/1) {
      padding: 1vw;
      border-radius: 1.7vw;
    }
    @media (max-aspect-ratio: 1/1) {
      padding: 1vh;
      border-radius: 1.7vh;
    }
    

  
    transition: all 0.3s ease-in-out;
  
    img {
      @media (min-aspect-ratio: 1/1) {
        width: 5.7vw;
        height: 5.7vw;
      }
      @media (max-aspect-ratio: 1/1) {
        width: 5.7vh;
        height: 5.7vh;
      }
      border-radius: 50%;
      object-fit: cover;
    }
  
    
  
    @media screen and (max-width: 850px) {
      width: 100%;
    }
  
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  
  .app__testimonial-content {
    flex: 1;
    height: 100%;
    @media (min-aspect-ratio: 1/1) {
      padding: 0 2vw;
    }
    @media (max-aspect-ratio: 1/1) {
      padding: 0 2vh;
    }
    text-align: left;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  
    p {
      @media (min-aspect-ratio: 1/1) {
        font-size: 1vw;
        line-height: 1.7vw;
      }
      @media (max-aspect-ratio: 1/1) {
        font-size: 1vh;
        line-height: 1.7vh;
      }
      color: var(--gray-color);
      font-family: var(--font-base);
  
      
    }
  
    h4 {
      font-weight: 600;
      color: var(--lightGray-color);
      @media (min-aspect-ratio: 1/1) {
        margin-top: 2vw;
      }
      @media (max-aspect-ratio: 1/1) {
        margin-top: 2vh;
      }
    }
  
    h5 {
      font-weight: 400;
      color: var(--black-color);
      @media (min-aspect-ratio: 1/1) {
        margin-top: 1vw;
      }
      @media (max-aspect-ratio: 1/1) {
        margin-top: 1vh;
      }
    }
  
   
  }
  
  .app__testimonial-btns {
    flex-direction: row;
    margin-right: 5%;
  
    div {
      @media (min-aspect-ratio: 1/1) {
        width: 2vw;
        height: 2vw;
        box-shadow: 0 0 0.7vw var(--primary-color);
        border-radius: 1.7vw;
        margin: 0.7vw;
      }
      @media (max-aspect-ratio: 1/1) {
        width: 2vh;
        height: 2vh;
        box-shadow: 0 0 0.7vh var(--primary-color);
        border-radius: 1.7vh;
        margin: 0.7vh;
      }
      border-radius: 50%;
      background-color: black;
      
      cursor: pointer;

      transition: all 0.3s ease-in-out;
  
      svg {
        @media (min-aspect-ratio: 1/1) {
          width: 1vw;
          height: 1vw;
        }
        @media (max-aspect-ratio: 1/1) {
          width: 1vh;
          height: 1vh;
        }
        color: var(--secondary-color);
      }
  
      &:hover {
        background-color: var(--secondary-color);
  
        svg {
          color: var(--gray-color);
        }
      }
  
     
    }
  }
  
  .app__testimonial-brands {

    background-color: var(--gray-color);
    @media (min-aspect-ratio: 1/1) {
      box-shadow: 0 0 0.7vw var(--gray-color);
      border-radius: 1vw;
    }
    @media (max-aspect-ratio: 1/1) {
      box-shadow: 0 0 0.7vh var(--gray-color);
      border-radius: 1vh;
    }
    
    display: flex;
    flex-wrap: wrap; 

    div { 
      @media (min-aspect-ratio: 1/1) {
        width: 7vw;
        margin: 1.5vw;
      }
      @media (max-aspect-ratio: 1/1) {
        width: 7vh;
        margin: 1.5vh;
      }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: grayscale(0);
        }

        &:hover {
            img {
                filter: grayscale(1);
            }
        }

    }

}

.app__testimonial-container { 
  @media (min-aspect-ratio: 1/1) {
    margin-left: 11vw;
    margin-right: 11vw;
  }
  @media (max-aspect-ratio: 1/1) {
    margin-left: 11vh;
    margin-right: 11vh;
  }
  display: flex;
  flex-wrap: wrap; 
  align-items: center;

  @media screen and (max-width: 1100px)  {
    margin-left: 0;
    margin-right: 0;
  }
}

.app__testimonial-wrapper {
  width: 65%;

  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

.app__testimonial-brands-wrapper {
  width: 35%;

  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

