.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;

}

.thanks-text {
  @media (min-aspect-ratio: 1/1) {
    font-size: 2.1vw;
  }
  @media (max-aspect-ratio: 1/1) {
    font-size: 2.1vh;
  }
}

.app__footer-cards {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
 

  .app__footer-card {
    img {
      width: 5vw;
      margin: 1vw 0 1vw 0;
    }
  }

  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.app__footer-form {
  width: 60%;
  flex-direction: column;

  .error {
    input,
    textarea {
      box-shadow: 0 0 0.5vw 0.06vw red;
    }
  }

  div {
    width: 100%;
    margin: 0.7vw 0;
    border-radius: 21%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    input,
    textarea {
      width: 100%;
      padding: 0.85vw;
      border: none;
      border-radius: 0.87vw;
      background-color: var(--gray-color);
      font-family: var(--font-base);
      color: var(--primary-color);
      outline: none;
    }

    textarea {
      height: 17vh;
    }

    &:hover {
      box-shadow: 0 0 1vh var(--lightGray-color);
    }
  }

 
  @media screen and (max-width: 700px) {
    width: 100%;
    margin: 1vw 0;
  }
}

@media screen and (max-width: 700px) {
  .app__footer-form div {
    margin: 2.9vw 0;
    input, textarea {
      padding: 2.85vw;
      border-radius: 4.87vw;
      margin: 0 1.2vw 0 1.2vw;
    }
  }
  .app__footer-cards {
  .app__footer-card {
      img {
        width: 37vw;
      }
    }
  }
}

.head-text-contact{
  padding-top: 4.1vw;
}

.send-button {
  margin: 4.7vh 0 0 0;
}