.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }

  .proficiencies-title-text {
    color: var(--gray-color);
    @media (min-aspect-ratio: 1/1) {
      font-size: 1.03vw;
      margin-top: 2.7vh;
    }
    @media (max-aspect-ratio: 1/1) {
      font-size: 1.03vh;
      margin-top: 2.7vh;
    }
  }

  .about-text {
    color: var(--lightGray-color);
    hyphens: auto; 
    word-break: break-word;
    word-spacing: normal; 
    @media (min-aspect-ratio: 1/1) {
      font-size: 0.8vw;
      margin-top: 2.7vh;
    }
    @media (max-aspect-ratio: 1/1) {
      font-size: 0.8vh;
      margin-top: 2.7vh;
    }
  }

  .head-text-about{
    @media (min-aspect-ratio: 1/1) {
      padding-bottom: 0.8vw;
    }
    @media (max-aspect-ratio: 1/1) {
      padding-bottom: 0.8vh;
    }
  }

  
  .app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    @media (min-aspect-ratio: 1/1) {
      margin-top: 2vh;
    }
    @media (max-aspect-ratio: 1/1) {
      margin-top: 2vh;
    }
  }
  
  .app__profile-item {
    @media (min-aspect-ratio: 1/1) {
      width: 10.5vw;
    }
    @media (max-aspect-ratio: 1/1) {
      width: 10.5vh;
    }
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @media (min-aspect-ratio: 1/1) {
      margin: 0.9vw;
    }
    @media (max-aspect-ratio: 1/1) {
      margin: 0.9vh;
    }
  
    img {
      width: 100%;
    
      @media (min-aspect-ratio: 1/1) {
        height: 10.5vw; 
      }
      @media (max-aspect-ratio: 1/1) {
        height: 10.5vh; 
      }
      border-radius: 21%;
      object-fit: cover;
    }
  
  }