.app__skills {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
  
  .app__skills-container {
    width: 80%;

    @media (min-aspect-ratio: 1/1) {
      margin-top: 3vw;
    }
    @media (max-aspect-ratio: 1/1) {
      margin-top: 3vh;
    }
  
    display: flex;
    flex-direction: row;
  
    @media screen and (max-width: 900px) {
      width: 100%;
      flex-direction: column;
    }
  }
  
  .app__skills-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  
    @media (min-aspect-ratio: 1/1) {
      margin-left: 2.1vw;
    }
    @media (max-aspect-ratio: 1/1) {
      margin-left: 2.1vh;
    }
  
    @media screen and (max-width: 900px) {
      margin-right: 0;
      justify-content: center;
      align-items: center;
    }
  }
  
  .app__skills-item {
    flex-direction: column;
    text-align: center;
  
    @media (min-aspect-ratio: 1/1) {
      margin: 0 0.9vw 0 0.9vw;
    }
    @media (max-aspect-ratio: 1/1) {
      margin: 0.7vh;
    }
  
    transition: all 0.3s ease-in-out;
  
    div {

      @media (min-aspect-ratio: 1/1) {
        width: 4vw;
        height: 4vw;
      }
      @media (max-aspect-ratio: 1/1) {
        width: 5.7vh;
        height: 5.7vh;
      }
      border-radius: 50%;
      background-color: var(--gray-color);
  
      img {
        width: 50%;
        height: 50%;
      }
  
      &:hover {
        @media (min-aspect-ratio: 1/1) {
          box-shadow: 0 0 0.7vw var(--lightGray-color);
        }
        @media (max-aspect-ratio: 1/1) {
          box-shadow: 0 0 0.7vh var(--lightGray-color);
        }
      }
  
    }
  
    p {
      font-weight: 500;

      @media (min-aspect-ratio: 1/1) {
        margin-top: 0.5vw;
      }
      @media (max-aspect-ratio: 1/1) {
        margin-top: 0.5vh;
      }
    }
  
    
  }
  
  .app__skills-exp {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    @media screen and (max-width: 900px) {
      width: fit-content; 
      margin: 0 auto; 
      justify-content: center;

      @media (min-aspect-ratio: 1/1) {
        margin-top: 1vw;
      }
      @media (max-aspect-ratio: 1/1) {
        margin-top: 1vh;
        justify-content: center;
        align-items: center;
      }
    }
  }
  
  .app__skills-exp-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-aspect-ratio: 1/1) {
      margin: 1vw 0;
    }
    @media (max-aspect-ratio: 1/1) {
      margin: 1vh 0;
    }
  }
  
  .app__skills-exp-works {
    flex: 1;
    
  
    .app__skills-exp-work {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      @media (min-aspect-ratio: 1/1) {
        margin-bottom: 0.3vw;
      }
      @media (max-aspect-ratio: 1/1) {
        margin-bottom: 0.3vh;
        margin-left: 7.5vh
      }
      cursor: pointer;
  
      h4 {
        font-weight: 500;
      }
  
      p {
        font-weight: 400;
        color: var(--gray-color);

        @media (min-aspect-ratio: 1/1) {
         // margin-top: 1.5vw;
        }
        @media (max-aspect-ratio: 1/1) {
          margin-top: 0.5vh;
        }
      }
    }
  }

  .bold-text-period {
    @media (min-aspect-ratio: 1/1) {
    font-size: 0.8vw;
    }
    @media (max-aspect-ratio: 1/1) {
      font-size: 1.3vh;
      margin-left: 7.5vh;
    }
    font-weight: 800;
    color: var(--lightGray-color);
    text-align: left;
  }
  
  .app__skills-exp-year {
    @media (min-aspect-ratio: 1/1) {
      margin-right: 7vw;
      margin-bottom: 1.7vw;
    }
    @media (max-aspect-ratio: 1/1) {
      margin-right: 7vh;
      margin-bottom: 1.7vh;
    }
  
    p {
      font-weight: 800;
      color: var(--lightGray-color);
    }
  
  }
  
  .skills-tooltip {
    @media (min-aspect-ratio: 1/1) {
      max-width: 30vw !important;
      box-shadow: 0 0 25vw rgba(0, 0, 0, 0.1) !important;
      border-radius: 1vw !important;
      padding: 1vw !important;
      font-size: 0.7vw !important;
    }

    @media (max-aspect-ratio: 1/1) {
      max-width: 30vh !important;
      box-shadow: 0 0 25vh rgba(0, 0, 0, 0.1) !important;
      border-radius: 1vh !important;
      padding: 1vh !important;
      font-size: 0.7vh !important;
    }

    background-color: var(--secondary-color) !important;
    color: var(--gray-color) !important;
    text-align: center !important;
    line-height: 1.5 !important;
    opacity: 1 !important;
    
  }

.work-name-text {

    @media (min-aspect-ratio: 1/1) {
      margin-bottom: 0.3vw;
      font-size: 1.1vw;
      letter-spacing: 0.007vw;
    }
    @media (max-aspect-ratio: 1/1) {
      margin-bottom: 0.3vh;
      font-size: 1.7vh;
      letter-spacing: 0.007vh;
    }
    font-weight: 350;
    color: var(--black-color);
    text-align: left;
    
}

.head-text-skills {
  @media (min-aspect-ratio: 1/1) {
    padding-top: 3.1vw;
  }
  @media (max-aspect-ratio: 1/1) {
    padding-top: 4.27vh;
  }
}

.p-text-skill-name {
  
  color: var(--gray-color);
  
  @media (max-aspect-ratio: 1/1) {
    font-size: 1.3vh;
  }

  @media (min-aspect-ratio: 1/1) {
    font-size: 0.77vw;
  }
 
 
}


.app__skills-btns {
  flex-direction: row;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Optional: Center vertically */

  div {
    @media (min-aspect-ratio: 1/1) {
      width: 2vw;
      height: 2vw;
      box-shadow: 0 0 0.7vw var(--primary-color);
      border-radius: 1.7vw;
      margin: 0.7vw;
    }
    @media (max-aspect-ratio: 1/1) {
      width: 2vh;
      height: 2vh;
      box-shadow: 0 0 0.7vh var(--primary-color);
      border-radius: 1.7vh;
      margin: 0.7vh;
    }
    border-radius: 50%;
    background-color: black;
    
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    svg {
      @media (min-aspect-ratio: 1/1) {
        width: 1vw;
        height: 1vw;
      }
      @media (max-aspect-ratio: 1/1) {
        width: 1vh;
        height: 1vh;
      }
      color: var(--secondary-color);
    }

    &:hover {
      background-color: var(--secondary-color);

      svg {
        color: var(--gray-color);
      }
    }
  }
}

.app__skills-exp-separator {  
  @media (min-aspect-ratio: 1/1) {
    min-height: 44.7vh;
  }
  @media (max-aspect-ratio: 1/1) {
    min-height: 30.7vh;
  }
}