.app__skills {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
  
  .app__skills-container {
    width: 80%;
    margin-top: 3vw;
  
    display: flex;
    flex-direction: row;
  
    @media screen and (max-width: 900px) {
      width: 100%;
      flex-direction: column;
    }
  }
  
  .app__skills-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  
    margin-left: 2.1vw;
  
    @media screen and (max-width: 900px) {
      margin-right: 0;
      justify-content: center;
      align-items: center;
    }
  }
  
  .app__skills-item {
    flex-direction: column;
    text-align: center;
  
    margin: 0.9vw;
  
    transition: all 0.3s ease-in-out;
  
    div {
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      background-color: var(--gray-color);
  
      img {
        width: 50%;
        height: 50%;
      }
  
      &:hover {
        box-shadow: 0 0 0.7vw var(--lightGray-color);
      }
  
    }
  
    p {
      font-weight: 500;
      margin-top: 0.5vw;
    }
  
    
  }
  
  .app__skills-exp {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  
    @media screen and (max-width: 900px) {
      width: fit-content; 
      margin: 0 auto; 
      justify-content: center;
      margin-top: 2vw;
    }
  }
  
  .app__skills-exp-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1vw 0;
  }
  
  .app__skills-exp-works {
    flex: 1;
  
    .app__skills-exp-work {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 0.4vw;
      cursor: pointer;
  
      h4 {
        font-weight: 500;
      }
  
      p {
        font-weight: 400;
        color: var(--gray-color);
        margin-top: 0.5vw;
      }
    }
  }
  
  .app__skills-exp-year {
    margin-right: 7vw;
    margin-bottom: 1.7vw;
  
    p {
      font-weight: 800;
      color: var(--lightGray-color);
    }
  
  }
  
  .skills-tooltip {
    max-width: 30vw !important;
    background-color: var(--secondary-color) !important;
    box-shadow: 0 0 25vw rgba(0, 0, 0, 0.1) !important;
    border-radius: 1vw !important;
    padding: 1vw !important;
    color: var(--gray-color) !important;
    text-align: center !important;
    line-height: 1.5 !important;
    opacity: 1 !important;
    font-size: 0.7vw !important;
  }

.work-name-text {
    font-size: 1.2vw;
    font-weight: 350;
    color: var(--black-color);
    text-align: left;
    letter-spacing: 0.007vw;
}

.head-text-skills {
  padding-top: 3.17vw;
}