@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --font-base: "Roboto", sans-serif;



  --primary-color: #212A31;
  --secondary-color: #2E3944; 
  --black-color: #0077be; 
  --lightGray-color: #748D92; 
  --gray-color: #D3D9D4; 

  overflow-y: hidden;


/*
  --primary-color: #1c1c1c;
  --secondary-color: #f2e9e4; 
  --black-color: #0077be; 
  --lightGray-color: #c9ada7; 
  --gray-color: #F3F3F2; 
  --brown-color: #CC9933; 
  --white-color: #212529; 
*/


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}