.app__intro {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
  
    .about-head-text {
      margin-bottom: 2rem;

      font-size: 2.75rem;
      font-weight: 800;
      text-align: center;
      color: var(--black-color);
      text-transform: capitalize;
    
      span {
        color: var(--gray-color);
      }
    
      @media screen and (min-width: 2000px) {
        font-size: 4rem;
      }
    
      @media screen and (max-width: 450px) {
        font-size: 2rem;
      }
    }
  
    .app__bio-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
  
    .app__bio-image {
      max-width: 300px;
      margin: 1rem;
      
      img {
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 19px;

        &:hover {
          transition: transform 0.3s ease-in-out;
          transform: scale(1.05);
        }
      }
    }
  
    .app__bio-text {
      height: 100%;
      max-width: 31%; 
      margin: 1rem;
      text-align: left;
  
      padding-top: 19px;
      margin-left: 27px;


      p {
        font-size: 1.2rem;
        line-height: 1.7;
        color: var(--gray-color);
      }
    }
  
    button {
        padding: 1rem 2rem;
        border-radius: 19px;
        border: none;
        background-color: var(--primary-color);
    
        font-weight: 500;
        color: var(--gray-color);
        outline: none;
        margin: 3rem 0 0 0;
        font-family: var(--font-base);
    
        transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        cursor: pointer;
    
        &:hover {
          background-color: var(--black-color);
        }
      }
  }
  
  
  @media screen and (max-width: 700px) {
    .app__bio-container {
      margin: 1em 0;
  
      button {
        margin: 0;
      }
  
      .app__bio-image {
        margin: 0;
  
      
        @media screen and (max-height: 920px) {
          max-width: 170px;
          margin: 1rem;
        }
  
        @media screen and (max-height: 860px) {
          max-width: 35%;
          margin: 1rem;
        }
  
        @media screen and (max-height: 790px) {
          max-width: 20%;
          margin: 1rem;
        }
  
        @media screen and (max-height: 720px) {
          display: none;
        }
      }
  
      .about-head-text {
        font-size: 1.75rem;
        font-weight: 790;
        margin: 1.5rem 0 1.2rem;
      }
  
      .app__bio-text {
        padding-top: 0;
        margin-left: 27px;
        max-width: 300px;
        text-align: justify;
        text-align-last: left;
        hyphens: auto;
        word-break: break-word;
  
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  